@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  margin: 20px;
  padding: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

h1,
h2,
h3 {
  text-align: center;
  color: #333;
  font-family: "Patrick Hand", cursive;
  font-weight: bold;
  font-size: large;
}

.header {
  background-color: #f0f0f0;
  font-family: "Patrick Hand", cursive;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  font-size: xx-large;
  border-radius: 8px;
}

.task-list {
  transition: box-shadow 0.3s ease-in-out;
  min-width: 260px;
  min-height: 100px;
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 15px;
}

.task-list.added {
  background-color: #ffe6e6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}

.task-list.started {
  background-color: #e6f7ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}

.task-list.completed {
  background-color: #e6ffe6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}

.task-list.drag-added {
  background-color: #f4bebe;
  box-shadow: 0 0 10px rgba(244, 190, 190, 0.7),
    0 0 20px rgba(244, 190, 190, 0.5);
}

.task-list.drag-started {
  background-color: #b1e6ff;
  box-shadow: 0 0 10px rgba(177, 230, 255, 0.7),
    0 0 20px rgba(177, 230, 255, 0.5);
}

.task-list.drag-completed {
  background-color: #98f698;
  box-shadow: 0 0 10px rgba(152, 246, 152, 0.7),
    0 0 20px rgba(152, 246, 152, 0.5);
}

.task-item {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 4px;
  color: #333;
}

.task-search {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 4px;
  color: #333;
}

.task-item.started {
  background-color: #ffd700;
  font-weight: bold;
}

.task-item:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.task-item.completed {
  text-decoration: line-through;
  color: #888;
}
