@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  margin: 20px;
  padding: 20px;
}

h1,
h2,
h3 {
  color: #333;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

.task-list.added {
  background-color: #ffe6e6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.task-list.started {
  background-color: #e6f7ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.task-list.completed {
  background-color: #e6ffe6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.task-list.drag-added {
  background-color: #f4bebe;
}

.task-list.drag-started {
  background-color: #b1e6ff;
}

.task-list.drag-completed {
  background-color: #98f698;
}

.task-item {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
}

.task-item.started {
  background-color: #ffd700;
  font-weight: bold;
}

.task-item:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.task-item.completed {
  text-decoration: line-through;
  color: #888;
}
